name: Docker Python Build ubuntu bin

on:
    workflow_dispatch:
    push:
        branches: [ main ]
        paths:
            - '.github/workflows/archive.yaml'
            - 'py/archive/*'
    schedule:
        -   cron: '00 4 * * *'

jobs:
    build:
        runs-on: ubuntu-20.04

        steps:
            -   uses: actions/checkout@v4
            -   name: Set up Python
                uses: actions/setup-python@v5
                with:
                    python-version: '3.11'

            -   name: Verify glibc
                run: ldd --version

            -   name: Build in manylinux2014 container
                run: |
                    cd  py/archive
                    python build.py

            -   uses: actions/upload-artifact@v4
                with:
                    name: wms-archive-tool-linux-manylinux
                    path: py/archive/dist/*