name: Docker Python Build

on:
    workflow_dispatch:
    push:
        branches: [ main ]
        paths:
            - '.github/workflows/archive.yaml'
            - 'py/archive/*'
    schedule:
        -   cron: '00 4 * * *'

jobs:
    build:
        strategy:
            matrix:
                os: [ macos-latest, ubuntu-20.04 ]

        runs-on: ${{ matrix.os }}

        steps:
            -   uses: actions/checkout@v4

            -   uses: actions/setup-python@v5
                with:
                    python-version: '3.11'

            -   run: cd  py/archive && python3 build.py

            -   uses: actions/upload-artifact@v4
                with:
                    name: myapp-${{ matrix.os }}
                    path: py/archive/dist/*