name: Docker Python Build

on:
    workflow_dispatch:
    push:
        branches: [ main ]
        paths:
            - '.github/workflows/archive.yaml'
            - 'py/archive/*'
    schedule:
        -   cron: '00 4 * * *'

jobs:
    build:
        strategy:
            matrix:
                os: [ macos-latest, ubuntu-latest ]

        runs-on: ${{ matrix.os }}

        steps:
            -   uses: actions/checkout@v4

            -   name: Build in manylinux2014 container
                run: |
                    cd  py/archive
                    docker run --rm \
                      -v "$PWD:/src" \
                      quay.io/pypa/manylinux2014_x86_64 \
                      bash -c "
                        set -eux
                    
                        # 使用 Python 3.11
                        PYTHON=/opt/python/cp311-cp311/bin/python
                        PIP=/opt/python/cp311-cp311/bin/pip
                    
                        \$PIP install --upgrade pip
                        \$PIP install pyinstaller
                    
                        cd src && python3 build.py
                      "

            -   uses: actions/upload-artifact@v4
                with:
                    name: myapp-${{ matrix.os }}
                    path: py/archive/dist/*